.wd-background {
    background-color: black;
    font-family: sans-serif;
    margin-left: 16px;
    margin-right: 16px;
}

.wd-page-header {
    padding-top: 12px;
    padding-bottom: 12px;
    border: 1px solid rgb(47, 51, 54);
}

.wd-post {
    border-left: 1px solid rgb(47, 51, 54);
    border-right: 1px solid rgb(47, 51, 54);
    border-bottom: 1px solid rgb(47, 51, 54);
    padding: 12px 16px;
    display: flex;
}

.wd-padding-lr-16 {
    padding-left: 16px;
    padding-right: 16px;
}

.wd-gray-text {
    color: rgb(110, 118, 125);
    margin: 0px;
}

.wd-white-text {
    color: white;
}

.wd-font-13 {
    font-size: 13px;
}

.wd-font-15 {
    font-size: 15px;
}

.wd-font-bold {
    font-weight: bold;
}